<%= link_to new_equipe_participacao_path(equipe), data: { turbo_frame: dom_id(equipe, :participacoes_form) }, id: dom_id(equipe, :add_participante_btn), class: "jigsaw-tile" do %>
  <div class="jigsaw-add"></div>
  <div class="jigsaw-tile-side"></div>
<% end %>
