<%= link_to participacao, data: { turbo_frame: :participacao, controller: "participacao-link", action: "participacao-link#showModal" }, class: "jigsaw-tile", title: participacao.participante.nome do %>
  <span class="avatar avatar-xl">
    <%= image_tag participacao.participante.avatar_url, class: "avatar-img rounded-circle" %>
  </span>
  <span class="jigsaw-tile-side"></span>
<% end %>
