<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #FBF8F5; border-bottom: 1px solid #E9E0CF;">
  <div class="container">
    <%= link_to "Feedback", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Ciclos", root_path, class: "nav-link #{"active" if current_page?(root_path)}" %>
        </li>

        <li class="nav-item">
          <%= link_to "Meus feedbacks", meus_feedbacks_path, class: "nav-link #{"active" if current_page?(meus_feedbacks_path)}" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
