<div class="row g-5 g-xxl-8">
  <div class="col-xl-4">
    <%= render "ciclos/resumo", ciclo: @ciclo %>
  </div>

  <div class="col-xl-8">
    <%= render "ciclos/busca" %>
    <%= turbo_frame_tag "nova-equipe", target: :_top %>
    <%= render @equipes %>
  </div>
</div>

